<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Nextale: Book Index</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
    <div th:insert="~{commons/header :: header}"></div>
    <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">Books</h1>
        </div>
    </header>
    <main>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
            <div id="books" class="min-w-full">
                <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
                    <div th:each="book: ${books}">
                        <div th:insert="~{books/_book_component :: book_component}"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="mx-auto max-w-7xl py-4 px-4 sm:px-6 lg:px-8">
        <ul class="flex justify-center">
          <li class="mx-1">
            <a
              th:if="${currentPage > 1}"
              th:href="@{'?page=' + ${currentPage - 1}}"
              class="px-4 py-2 bg-blue-500 text-white rounded-md"
              >Previous</a
            >
          </li>
          <!-- Next Page Link -->
          <li class="mx-1">
            <a
              th:if="${currentPage < totalPages}"
              th:href="@{'?page=' + ${currentPage + 1}}"
              class="px-4 py-2 bg-green-500 text-white rounded-md"
              >Next</a
            >
          </li>
        </ul>
      </div>
</body>
</html>