<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Nextale: Index</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}">
</head>
<body>
    <div th:fragment="header">
        <nav class="bg-gray-800">
            <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
                <div class="relative flex h-16 items-center justify-between">
                    <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                        <div class="flex flex-shrink-0 items-center">
                            <img class="block h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=rose&shade=500" alt="Nextale">
                        </div>
                        <div class="sm:ml-6 sm:block">
                            <div class="flex space-x-4 text-white">
                                <a href="#" th:href="@{/author}">Authors</a>
                                <a href="#" th:href="@{/book}">Books</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>